<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Adoption Agency</title>
</head>
<body>
    <h1>Welcome to the Pet Adoption Agency!</h1>
    <a href="/add">Click here to add a pet to our database</a>
    {% for pet in pets %}
        <span>
            <h2>{{pet.name}}</h2>
            {% if pet.photo_url %}
            <img src="{{pet.photo_url}}" alt="{{pet.name}}">
            {% endif %}

            {% if pet.available == True %}
                <p>{{pet.name}} is <b>available</b> for adoption!</p>

            {% endif %}
        </span>
        <hr>
    {% endfor %}
    
</body>
</html>