<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pet.name}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Hi, I'm {{pet.name}} the {{pet.species}}!</h1>
    {% if pet.age %}
    <p>I'm {{pet.age}} years old!</p>
    {% endif %}

    {% if pet.photo_url %}
    <img src="{{pet.photo_url}}" alt="{{pet.name}}">
    {% endif %}

    {% if pet.available == True %}
    <p>Want to adopt me?!</p>
    {% endif %}

    <form method="POST">
        <h2>Edit info about {{pet.name}}</h2>
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden'%}
        <p>
          {{field.label}}
          {{field}}
    
          {% for err in field.errors %}
          {{err}}
          {% endfor %}
        </p>
        {% endfor %}
        <button>Submit</button>
      </form>


    
</body>
</html>