table, tr, td {
    border: 1px solid;
}

table {
    width: 300px;
    border-collapse: collapse;
}

tr {
    height: 60px;
}

td {
    text-align: center;
}

form {
    display: inline-block;
    width: 400px
}

.not-word {
    display: none;

}

#score {
    display: inline-block;

}

#time {
    display: none;
}

.not-on-board {
    display: none;


}

.already-selected {
    display: none;
}