<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadLibs</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h1>Welcome to Madlibs!</h1>
    <form action="/result">
        <label for="place">place: </label> 
        <input id="place" type="text" name="place">
        
        <label for="noun">noun: </label>
        <input id="noun" type="text" name="noun">
        
        <label for="verb">verb: </label>
        <input id="verb" type="text" name="verb">
        
        <label for="adjective">adjective: </label>
        <input id="adjective" type="text" name="adjective">
        
        <label for="plural_noun">plural noun: </label>
        <input id="plural_noun" type="text" name="plural_noun">

        <button>Submit</button>
    </form>
    
</body>
</html>