.Carousel-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel-main > i {
  cursor: pointer;
  margin: 10px;
  height:10px;
  width:10px;
  color: #aaa;
  background-color: black;
  
}

.Carousel-main > i:hover {
  color: black;
}