.Pokecard {
    background-color: lightgrey;
    height: fit-content;
    width: 200px;
    margin: 2em;
    border: 1px;
    border-radius: 10%;
    display: block;
}
.Pokecard__name, .Pokecard__logo, .Pokecard__desc {
    z-index: 1;

}


.Pokecard__name {
    font-size: 16px;
    color: blue;
    text-align: center;

}

.Pokecard__logo {
    height: 120px;
    width: 120px;
    margin-left: 2.5em;
    
}
.Pokecard__desc {
    margin-top: 0;
    text-align: center;

}

