<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Edit</title>
</head>
<body>
    <h1>Edit post</h1>
    <article class="user-post" id="{{user.id}}-{{user.first_name}}-post-{{post.id}}">
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        <footer><i>Posted by {{user.first_name}} {{user.last_name}}</i></footer>
        <form action="/posts/{{post.id}}/edit" method="POST">
            <h2>Edit post</h2>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title">
            <label for="post-content">Content</label>
            <input type="text" id="post-content" name="post-content">
            <button id="save-edit-post" type="submit">Save</button>
            <a href="/users/{{user.id}}"><button id="cancel-post" type="button">Cancel</button></a>
        </form>
    </article>
    
</body>
</html>