<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post by {{user.first_name}} {{user.last_name}}</title>
</head>
<body>
    <article id="{{user.id}}-{{user.first_name}}-post-{{post-id}}">
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        <footer><i>Posted by {{user.first_name}} {{user.last_name}}</i></footer>
    </article>
    <a href="/users/{{user.id}}"><button id="return" type="button">Return</button></a>

    
</body>
</html>